* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

html,
body,
main {
  height: 100%;
  margin: 0;
}

main {
  padding: 20px;
  background-color: #FFF;
}

button {
  color: #000;
  background-color: #ececec;
  transition: all 0.2s ease-in-out;
  padding: 0 1em;
  margin: .5em 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  line-height: 2em;
}

button:hover, button:focus, button:active {
  color: #FFF;
  background-color: #00ACE9;
}

button + button {
  margin-left: 1em;
}

/*
http://colours.neilorangepeel.com/
blue: #00ACE9;
red: #D43F3F;
green: #6A9A1F;
beige: #F6F6E8;
grey: #404040;
*/
