* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html, body, main {
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 20px;
}

li {
  padding: 20px;
  background: #fff;
  margin-bottom: 5px;
}